*{
    border: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-image: url(../img/a.jpg);
color: #fff;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.well {
    margin-top: 30px;
    text-align: center;
}


.container{
    margin-top: 50px;
    padding: 0 20%;
}

.about-landpage .text-about-landpage .name-about-title{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.about-landpage .text-about-landpage h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.about-landpage .text-about-landpage h4 i {
    color: rgb(0, 0, 0);
    background-color: #b4ee17;
}


@media (max-width: 683px){
    .container{
        margin-right: 20px;
        padding: 0 5%;
    }
}
