* {
    border: none;
    padding: 0;
}
.header-top {
    top: 0; 
    width: 100%; 
    height: 50px;  
    
    z-index: 999;
}
.header-top h1 {
    color: rgb(25, 3, 46);
    text-align: center;
}
.h6-top:hover {
    color: rgb(238, 13, 69);
}
@media screen and (max-width: 331px) {
    .header-top h1 {
        font-size: 20px;
    }    
}