* {
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #0dc3b4;
    height: 100vh;
    background-attachment: fixed;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h3 {
    font-size: 22px;
    font-weight: 600;
}
.text span,p  {
    font-size: 14px;
}
.logo img {
    height: 100px;
    width: 100px;
    margin-right: 5px;
}
.section-top {
    padding-top: 1vh; 
    height: 550px;
}
.conteiner{
    margin-top: 50px;
}

.form{
    margin-bottom: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-image: url(../img/ter.png);
    height: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}

.conteiner .links {
    margin: 50px 0 0 10px;
}
.rede-box{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.rede-box-link{
    text-decoration: none;
    color: #fff;
    background-color: rgb(13, 9, 223);
    padding: 2px 5px;
    border-radius:  5px;
    box-shadow: 5 0 10px;
}
.rede-box-link:hover{
    opacity: 0.9;
    background-color: #903;
}
.conteiner .links .link-box {
    padding: 10px 20px;
    background-color: rgb(13, 9, 223);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 20px;
}

.conteiner .links a:hover {
    opacity: 0.8;
}
.about{
    margin-top: 30px;
    padding: 0 5px ;
    width: 100%;
}
.about h3 {
    font-size: 22px;
    font-weight: 600;
}
.about p {
    font-size: 14px;
    
}
.tecnologia{
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #4b15e2;
    /* height: 100%; */
}
.tecnologia h2.title{
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}
.box-linguagem{
    width: 100%;
    margin-top: 70px;
}
.box-linguagem .title{
    text-align: center;
    padding: 30px 0;
}
.box-linguagem-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-flex-icon {
    background-color: #009efa;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-linguagem-icon .box-flex-icon i {
    font-size: 200px;
}

@media screen and (max-width: 800px) {
    .form {
        width: 100%;
    } 
}
@media screen and (max-width: 405px) {
    .form {
        width: 100%;
    } 
    .logo {
        display: inline-block;
    }
    .text span,p,h3{
        margin: 0 10px;
    }
    .about p{
        text-align: left;
        font-size: 10px;
        padding: 0 10px;
    }
    body{
        background-size: auto;
    }
    .rede-box .rede-box-link{
        font-size: 12px;
    }
}
@media screen and (max-width: 304px) {
    .form {
        width: 90%;
        margin: 0 10px;
    } 
}
@media screen and (max-width: 240px) {
    .rede-box .rede-box-link{
        font-size: 9px;
    }
}
@media screen and (max-width: 190px) {
    .rede-box .rede-box-link{
        font-size: 5px;
    }
}