* {
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #0dc3b4;
    height: 100vh;
    background-attachment: fixed;
}
.content{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h3 {
    font-size: 22px;
    font-weight: 600;
}
.text span,p  {
    font-size: 14px;
}
.logo img {
    height: 100px;
    width: 100px;
    margin-right: 5px;
}
.section-top {
    padding-top: 1vh; 
    /* height: 350px; */
}
.section-top_form {
    padding-top: 1vh; 
    /* height: 550px; */
}
.conteiner{
    margin-top: 50px;
}

.form{
    margin-bottom: 10px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-image: url(../img/ter.png);
    height: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12), 
                0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}

.conteiner .links {
    margin: 50px 0 0 10px;
}
.rede-box{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.rede-box-link{
    text-decoration: none;
    color: #fff;
    background-color: rgb(13, 9, 223);
    padding: 2px 5px;
    border-radius:  5px;
    box-shadow: 5 0 10px;
}
.rede-box-link:hover{
    opacity: 0.9;
    background-color: #903;
}
.conteiner .links .link-box {
    padding: 10px 20px;
    background-color: rgb(13, 9, 223);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 20px;
}

.conteiner .links a:hover {
    opacity: 0.8;
}
.about{
    margin-top: 30px;
    padding: 0 5px ;
    width: 100%;
}
.about h3 {
    font-size: 22px;
    font-weight: 600;
}
.about_container{
    padding: 0 15%;
}
.about p {
    font-size: 14px;
    
}
.ir_baixo {
    text-align: center;
}
.ir_baixo p {
    font-size: 22px;
}
.ir_baixo .link-down{
    font-size: 32px;
    color: rgb(209, 15, 15);
    animation-name: color_link-down;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.5s;

}
@keyframes color_link-down {
    to {
        color: #fff;
    }
    from {
        color: rgb(209, 15, 15);
    }
}
.ir_baixo .link-down:hover {
    color: rgb(107, 120, 240);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 0s;
}
.tecnologia{
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #4b15e2;
    /* height: 100%; */
}
.tecnologia h2.title{
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}
.box-linguagem{
    width: 100%;
    margin-top: 70px;
}
.box-linguagem .title{
    text-align: center;
    padding: 30px 0;
}
.box-linguagem-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-flex-icon {
    background-color: #009efa;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-linguagem-icon .box-flex-icon i {
    font-size: 200px;
}
.projetos{
    /* margin-top: 400px; */
    width: 100%;
    overflow: hidden;
    background-color: #0c0c0c;
    padding-bottom: 50px;
    /* height: 100%; */
}
.projetos h2.title{
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}
.box-projeto{
    width: 100%;
    margin-top: 70px;
}
.box-projeto .title{
    text-align: center;
    padding: 30px 0;
}
.box-projeto_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-projeto-flex {
    background-color: #4b15e2;
    color: #000;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: -5px -3px 2px rgb(63, 119, 240); */
    
     /* display: flex;
    justify-content: center;
    align-items: center; */
}

.box-projeto-flex h1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.box-projeto-flex span {
    font-weight: 500;
    font-size: 18px;
    color: #ccc;
}
.box-projeto-flex p {
    font-weight: 600;
    margin: 5px 0 2px 0;
    font-size: 14px;
    color: #fff;
}
.box-projeto-flex a {
    color: rgb(65, 241, 141);
    text-decoration: none;
}
.box-projeto-flex a:hover{
    opacity: 0.6;
    text-decoration: underline;
}
.contato_section {
    /* background-color: #fff; */
     padding-bottom: 50px;
     /* color: #000; */
}
.container_contato{
    margin-top: 30px;
    padding: 0 20%;
    
}
.well {
    padding-top: 100px;
    text-align: center;
}
form {
    height: 100%;
    width: 100%;
    padding: 10px;
    flex: 1;
    box-shadow: 0 .5rem 3rem rgba(11, 242, 250, 0.178)!important;
    margin-bottom: 10px;
}
form h3 {
    font-size: 30px;
    margin-bottom: 50px;
}
label{
    font-weight: 600;
    font-size: 20px;
}
label strong {
    color: darkred;
    font-size: 22px;
}
input, textarea {
    padding: 5px 10px;
    width: 98%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #eee;
    font-size: 16px;
}
.input{
    margin-bottom: 20px;
}
button {
    margin: 30px 0;
    border: 0;
    color: #fff;
    background-color: rgb(68, 248, 203);
    width: 98%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out;
}
button:hover {
    opacity: 0.6;
}
.whats{
    margin-top: 10px;
}
.whats a {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(5, 233, 127);
    padding: 5px 0 5px 7px;
    border-radius: 10px;
}
.whats a:hover{
    opacity: 0.5;
}

/* .btn{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;   
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
@media (max-width: 683px){
    .container_contato{
        margin-right: 20px;
        padding: 0 5%;
    }
    input, textarea {
        padding: 5px;
    }
}
@media screen and (max-width: 800px) {
    .form {
        width: 100%;
    } 
}
@media screen and (max-width: 405px) {
    .form {
        width: 100%;
    } 
    .logo {
        display: inline-block;
    }
    .text span,p,h3{
        margin: 0 10px;
    }
    .about p{
        text-align: left;
        font-size: 10px;
        padding: 0 10px;
    }
    body{
        background-size: auto;
    }
    .rede-box .rede-box-link{
        font-size: 12px;
    }
    .tecnologia{
        margin-top: 150px;
    }
    .ir_baixo {
        display: none;
    
    }
}
@media screen and (max-width: 304px) {
    .form {
        width: 90%;
        margin: 0 10px;
    } 
}
@media screen and (max-width: 240px) {
    .rede-box .rede-box-link{
        font-size: 9px;
    }
}
@media screen and (max-width: 190px) {
    .rede-box .rede-box-link{
        font-size: 5px;
    }
}