* {
    padding: 0;
    margin: 0;
    border: none;
}
.header {
    background-color: darkcyan;
    height: 90px;
    width: 100%;
} 
.conteiner {
    padding: 0 200px;
}

.perfil {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 5px;
}
nav{
    margin-left: 30%;
}
ul {
    list-style: none;
}
li {
    display: inline;
    margin-left: 20px;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
.inline{
    display: flex;
}
.box {
    height: 300px;
    width: 450px;
    background-color: #ccc;
    padding: 10px;
    margin: 10px;

}
.box .bio::after{
    content: "";
    display: block;
    width: 220px;
    background-color: #e1e1e1;
    height: 8px;
}
.box a::after {
    content: "";
    display: block;
    width: 220px;
    background-color: #e1e1e1;
    height: 8px;
}
.box a {
    color: rgb(102, 112, 240);
}
.box h4 {
    margin-top: 50%;
}
